#root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
}

.header-action-button-container {
}

/* MAIN */

main {
  background-color: black;
}
